<!DOCTYPE html>
<html>
    <head>
        <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet" />
        <link href="../static/css/main.css" rel="stylesheet" />
        <title>Document</title>
    </head>
    <body>
        <div class="v17_2">
            <div class="v17_3">

            </div>
            <span class="v16_13">Meaningful Objectives</span>
            <div class="v16_43">
                <div class="v16_14">

                </div>
                <div class="v17_26">

                </div>
                <span class="v16_16">Organization Objective</span>
                <span class="v16_17">Leading Indicator</span>
                <span class="v16_18">User OutComes</span>
                <span class="v16_19">Model Properties</span>
                <span class="v16_20">Action</span>
                <div class="v17_27">
                    
                </div>
                <div class="v16_23">

                </div>
                <div class="v17_28">

                </div><div class="v17_29">

                </div><div class="v16_27">

                </div>
                <span class="v16_29">Update</span>
                <div class="v16_28">

                </div>
                <span class="v16_30">Delete</span>
            </div>
            <div class="v16_44">
                <div class="v16_32">

                </div>
                <span class="v16_33">Search</span>
                <div class="v16_35">
                    <div class="v17_33">

                    </div>
                    <div class="v17_34">

                    </div>
                </div>
            </div>
            <div class="v17_113">
                <div class="v16_36">

                </div>
                <div class="v17_36">

                </div>
                <div class="v17_37"></div>
                <div class="v17_38"></div>
                <div class="v17_39"></div>
                <div class="v16_42">
                    <div class="v16_41"></div>
                    <span class="v17_40">Save</span>
                </div>
                <span class="v16_37">Organization Objective</span>
                <span class="v16_38">Leading Indicator</span>
                <span class="v16_39">User OutComes</span>
                <span class="v16_40">Model Properties</span>
            </div>
            <div class="v54_115"></div>
            <span class="v17_23">USER_ID</span>
            <div class="v159_21">
                <div class="name"></div>
                <div class="name"></div>
                <div class="name"></div>
                <div class="name"></div>
                <div class="name"></div>
                <div class="name"></div>
            </div>
            <div class="v159_23"></div>
        </div>
    </body>
    </html>