{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}  
<div id="headcont">
  <h2> Home</h2>
</div>      

<div id="content">
  <div class="row-layout">
    <h3>Input Projek</h3> 
    <a href="{% url 'data_intel:project_view' %}" class="btn btn-outline-success" id="btn-get">Get Data Projek</a>
  </div>
  
  <div id="table-container">
      <form method="post">
          {% csrf_token %}
          <div class="form-group mb-0">
          {{ form.nama_proyek| as_crispy_field }}
          </div>
          <button id="save" type="submit">Save</button>
        </form>
        
  </div>
</div>
<h3>Daftar Projek</h3>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Nama Projek</th>
      <th class="action-home" scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    {% for DataProjek in list_dataprojek %}
      <tr class = "record">
        <td ><label >{{DataProjek.nama_proyek}}</label></td>
        <td>
          <form method="post" action="#">
              {% csrf_token %}
              <a href="{% url 'data_intel:set_projek_detail' DataProjek.id%}" class="btn btn-outline-success">View</a>
              <a href="{% url 'data_intel:set_projek_session' DataProjek.id %}" class="btn btn-outline-success">Input Data Projek</a>
              
         </form>
      </td>
      </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}