{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<!DOCTYPE html>
<html>
<head>
</head>
<body>
    <div id="headcont">     
        <h2>Kendala atau Masalah Pengembangan Sistem</h2>
    </div>
        <div id="content">
            
            <div id="table-container">
                <p>Projek {{ nama_p }}</p>
                <form method="post">
                    {% csrf_token %}
                    {{ form.masalah_pengembangan| as_crispy_field }}
                    <button id="save" type="submit">Save</button>
                  </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
{% endblock %}