{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<!DOCTYPE html>
<html>
<head>
</head>
<body>
    <div id="headcont">     
        <h2>Status Realisasi</h2>
    </div>
    <div id="content">
        
        <div id="table-container">
            <p>Projek {{ nama_p }}</p>  
            <form method="post">
                {% csrf_token %}
                <div class="form-group mb-0">
                    {{ form.status| as_crispy_field }}
                </div>
                <button id="save" type="submit">Save</button>
                </form>
        </div>
    </div>
</body>
</html>
{% endblock %}